@page
@model GG_Webbshop.Pages.CartViewModel

@{
}

<head>
    <link rel="stylesheet" href="~/css/Site.css">
    <link rel="stylesheet" href="~/css/CheckoutStyle.css">


</head>
@if (Model.Message != null)
{
    bool returnTokenValue = TokenChecker.UserStatus;


    <h2>@Model.Message</h2>
    <a class="btn btn-dark" href="/Index" onclick="history.go(-1)">Tillbaka</a>
    @if (returnTokenValue == false)
    {
        <a class="btn btn-primary" href="/LoginView">Logga in</a>
        <a class="btn btn-success" href="/RegisterPage">Registrera ett konto</a>
    }
}
else
{
    <form method="post">

        <div class="px-4 px-lg-0">
            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                            <!-- Shopping cart table -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="p-2 px-3 text-uppercase">Produkter</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Pris</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Antal</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Ta bort</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c2p in Model.c2pRM)
                                        {
                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-2">
                                                    <img src="~/img/@c2p.Image" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"> <a href="/ProductView/?Id=@c2p.Id" class="text-dark d-inline-block align-middle">@c2p.Name</a></h5><span class="text-muted font-weight-normal font-italic d-block">Kategori: @c2p.Category</span>
                                                    </div>
                                                </div>
                                            </th>

                                            @if (c2p.Discount != default)
                                            {
                                                <td class="border-0 align-middle">
                                                    <strong><strike>@c2p.Price :-</strike></strong>
                                                <strong class="text-danger">Reapris @Math.Round((c2p.Price - (c2p.Price * (c2p.Discount / 100))),2) :- </strong></td>
                                            }
                                            else
                                            {
                                                <td class="border-0 align-middle"><strong>@c2p.Price :-</strong></td>
                                            }
                                            <td class="border-0 align-middle" style="padding-left: 30px;">
                                                <div class="qty mt-5">
                                                    <a href="?PlusMinus=false&c2pIdUpdate=@c2p.C2PId" class="minus bg-dark">-</a>

                                                    @c2p.Amount
                                                    <a href="?PlusMinus=true&c2pIdUpdate=@c2p.C2PId" class="plus bg-dark">+</a>
                                                </div>
                                            </td>

                                            <td class="border-0 align-middle"><a href="?id=@c2p.C2PId" class="text-dark" style="padding-left: 25px;"><i class="bi bi-trash"></i></a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- End -->
                        </div>
                    </div>

                    <script>
                        function DynamicFee() {
                            if (document.getElementById('defaultUnchecked').checked) {

                                var text = document.createTextNode('79');

                                var paragraf = document.getElementById("DisplayShippingFee");

                                var checkoutFee = document.getElementById("checkoutShipping");

                                var checkoutFeeText = document.createTextNode('79');

                                checkoutFee.innerHTML = '';
                                checkoutFee.appendChild(checkoutFeeText);

                                paragraf.innerHTML = '';
                                paragraf.appendChild(text);



                                var totalPrice = document.getElementById("totalPrice").innerHTML;

                                var shippingFee = document.getElementById("DisplayShippingFee").innerHTML;

                                var total = parseFloat(shippingFee) + parseFloat(totalPrice);

                                var total2 = document.createTextNode(total);
                                var total3 = document.createTextNode(total);
                                var total4 = document.createTextNode(total);

                                totalPrice = document.getElementById("totalPrice");

                                totalPrice.innerHTML = '';
                                totalPrice.appendChild(total2);


                                var checkoutprice = document.getElementById("checkoutTotalprice");

                                checkoutprice.innerHTML = '';
                                checkoutprice.appendChild(total3);

                                var checkouttotal = document.getElementById("check-amt");
                                checkouttotal.innerHTML = '';
                                checkouttotal.appendChild(total4);

                            }
                            else if (document.getElementById("defaultChecked").checked) {


                                var text = document.createTextNode("0");

                                var paragraf = document.getElementById("DisplayShippingFee");

                                paragraf.innerHTML = '';
                                paragraf.appendChild(text);

                                var checkoutFee = document.getElementById("checkoutShipping");
                                var checkoutFeeText = document.createTextNode('0');

                                checkoutFee.innerHTML = '';
                                checkoutFee.appendChild(checkoutFeeText);

                                var totalPrice = document.getElementById("totalPrice").innerHTML;

                                var shippingFee = document.getElementById("DisplayShippingFee").innerHTML;

                                var total = parseFloat(-79) + parseFloat(totalPrice);

                                var total2 = document.createTextNode(total);
                                var total3 = document.createTextNode(total);
                                var total4 = document.createTextNode(total);

                                totalPrice = document.getElementById("totalPrice");

                                totalPrice.innerHTML = '';
                                totalPrice.appendChild(total2);


                                var checkoutprice = document.getElementById("checkoutTotalprice");

                                checkoutprice.innerHTML = '';
                                checkoutprice.appendChild(total3);


                                var checkouttotal = document.getElementById("check-amt");
                                checkouttotal.innerHTML = '';
                                checkouttotal.appendChild(total4);
                            }
                        }
                    </script>
                    
                    <div class="row py-5 p-4 bg-white rounded shadow-sm align-content-lg-center">
                        <div class="col-lg-6">
                            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold ">Välja fraktalternativ </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="shippingFee" value="79" onchange="DynamicFee()">
                                <label class="custom-control-label text-muted" for="defaultUnchecked">Hem leverans</label>
                                <ul class="list-unstyled mb-4">
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Hem Leverans: @Model.user.Billingaddress (1-2 dagar)</strong><strong>79 SEK</strong></li>
                                </ul>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultChecked" name="shippingFee" checked value="0" onchange="DynamicFee()">
                                <label class="custom-control-label text-muted" for="defaultChecked">Insta Box</label>
                                <ul class="list-unstyled mb-4">
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Instabox Store: @Model.user.Billingaddress (imorgon - 15.50)</strong><strong>Gratis</strong></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Total </div>
                            <div class="p-4">
                                <ul class="list-unstyled mb-4">
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Exkl. Moms </strong><strong>@Model.VATprice</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Totalrabatt</strong><strong class="text-danger">@Math.Round(Model.TotalDiscount,2)</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Frakt</strong><strong id="DisplayShippingFee">0</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Moms</strong><strong>25%</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Total</strong>
                                        <h5 id="totalPrice" class="font-weight-bold">@Math.Round(Model.TotalPrice - Model.TotalDiscount)</h5>
                                    </li>
                                </ul><a id="gawgaga" onclick="infoDivShow()" class="btn btn-dark rounded-pill py-2 btn-block text-white">Betala</a>
                            </div>
                        </div>                 
                    </div>
                </div>
            </div>



            <div style="display : none" id="infoDiv" class="row justify-content-center">

                <h1><i>Dina uppgifter / leveransinformation</i></h1>

                <hr />
                <div class="row">
                    <div class="col-md-4">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Användarnamn</label>
                            <input asp-for="user.Username" class="form-control" />
                            <span asp-validation-for="user.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">E-post</label>
                            <input asp-for="user.Email" class="form-control" />
                            <span asp-validation-for="user.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fullständigt namn</label>
                            <input asp-for="user.Fullname" class="form-control" />
                            <span asp-validation-for="user.Fullname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Faktureringsadress</label>
                            <input asp-for="user.Billingaddress" class="form-control" />
                            <span asp-validation-for="user.Billingaddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mottagaradress</label>
                            <input asp-for="user.Defaultshippingaddress" class="form-control" />
                            <span asp-validation-for="user.Defaultshippingaddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Land</label>
                            <input asp-for="user.Country" class="form-control" />
                            <span asp-validation-for="user.Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Telefonnummer</label>
                            <input asp-for="user.Phone" class="form-control" />
                            <span asp-validation-for="user.Phone" class="text-danger"></span>
                        </div>

                        <a id="ShowAdressinfo" onclick="scrollDown()" class="btn btn-dark rounded-pill py-2 btn-block text-white">Ange betalningsuppgifter</a>


                    </div>
                </div>
            </div>
            <div style="display : none" id="PaymentDiv" class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-3 radio-group">

                                <div class="row d-flex px-3  ">
                                    <img class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                                    <input type="radio" id="MasterCard" name="paymentMethod" value="MasterCard" />
                                    <label for="MasterCard">Master Card</label>
                                </div>
                                <div class="row d-flex px-3  ">
                                    <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                                    <input type="radio" id="Visa" name="paymentMethod" value="Visa" />
                                    <label for="Visa">Visa</label>
                                </div>
                                <div class="row d-flex px-3   mb-3">
                                    <img class="pay" src="https://i.imgur.com/cMk1MtK.jpg">
                                    <input type="radio" id="PayPal" name="paymentMethod" value="Paypal" />
                                    <label for="PayPal">Pay Pal</label>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row px-2">
                                    <div class="form-group col-md-6"> <label class="form-control-label">Fullständigt namn</label> <input type="text" id="cname" name="cname" placeholder="Namn"> </div>
                                    <div class="form-group col-md-6"> <label class="form-control-label">Kortnummer</label> <input type="text" id="cnum" name="cnum" placeholder="1111 2222 3333 4444"> </div>
                                </div>
                                <div class="row px-2">
                                    <div class="form-group col-md-6"> <label class="form-control-label">Utgångsdatum</label> <input type="text" id="exp" name="exp" placeholder="MM/YYYY"> </div>
                                    <div class="form-group col-md-6"> <label class="form-control-label">CVV</label> <input type="text" id="cvv" name="cvv" placeholder="***"> </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-2">
                                <div class="row d-flex justify-content-between px-4">
                                    <p class="mb-1 text-left">Frakt</p>
                                    <h6 id="checkoutShipping" class="mb-1 text-right">55 SEK</h6>
                                </div>
                                <div class="row d-flex justify-content-between px-4" id="tax">
                                    <p class="mb-1 text-left">Att betala (moms inkluderad)</p>
                                    <h6 id="checkoutTotalprice" class="mb-1 text-right">@(Model.TotalPrice - Model.TotalDiscount) SEK</h6>
                                </div>

                                

                                <button type="submit" class="btn btn-dark rounded-pill py-2 btn-block text-white"> <span> <span id="checkout">Genomför köp</span> <span id="check-amt">@(Model.TotalPrice - Model.TotalDiscount) SEK</span> </span> </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    




}
