@page
@model GG_Webbshop.Pages.CategoryResultPageModel
@{
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    bool returnTokenValue = TokenChecker.UserStatus;


    <h2>@Model.Message</h2>
    <a class="btn btn-dark" href="#" onclick="history.go(-1)">Tillbaka</a>
    @if (returnTokenValue == false)
    {
        <a class="btn btn-primary" href="/LoginView">Logga in</a>
        <a class="btn btn-success" href="/RegisterPage">Registrera ett konto</a>
    }
}
else
{
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-start row">
            <div class="col-md-10">
                @foreach (var item1 in Model.Product)
                {
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="~/img/@Html.DisplayFor(model => item1.Image)"></div>
                        <div class="col-md-6 mt-1">
                            <h5>@Html.DisplayFor(model => item1.Name)</h5>
                            <div class="d-flex flex-row">
                                <strong>I lager: @Html.DisplayFor(model => item1.Stock)</strong>
                            </div>
                            <div>
                                <p>@Html.DisplayFor(model => item1.Description)</p>
                            </div>

                        </div>
                        <div class=" align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row ">
                                @if (item1.Discount != default)
                                {
                                    <h5 class="mr-1"><strike>@item1.Price :-</strike></h5><h5 class="text-danger mr-1"> Rea @Math.Round((item1.Price - (item1.Price * (item1.Discount / 100)))) :-</h5>
                                }
                                else
                                {
                                    <h5 class="mr-1">@item1.Price :-</h5>
                                }
                            </div>
                            <h6 class="text-success"></h6>
                            <div class="d-flex flex-column mt-4">
                                <a class="btn btn-primary" href="/ProductView?id=@Html.DisplayFor(model => item1.Id)" role="button">Information</a><br />
                                @if (ToolBox.ActiveRole != "root")
                                {
                                    <a class="btn btn-primary" href="?ProductId=@Html.DisplayFor(model => item1.Id)" role="button">Lägg i kundvagn</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}