@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner rounded-lg" role="listbox" style="cursor: pointer;">
                    <div class="carousel-item active">
                        <a onclick="CatUrl();">
                            <img class="d-block img-fluid" src="~/img/SliderOne (1) (2).jpg" alt="First slide">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a onclick="reaUrl();">
                            <img class="d-block img-fluid" src="~/img/SliderTwo.jpg" alt="Second slide">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Föregående</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Nästa</span>
                </a>
            </div>

            @if (Model.ShowMostPopularProducts)
            {
                <h3>Mest populära produkter</h3>
                <div class="row">
                    @foreach (var item in Model.MostPopularProducts)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="/ProductView?Id=@item.Id"><img class="card-img-top" src="~/img/@item.Image" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/ProductView?Id=@item.Id">@item.Name</a>
                                    </h4>
                                    @if (item.Discount != default)
                                    {
                                        <h5><strike>@item.Price :-</strike></h5><h5 class="text-danger"> Rea @Math.Round((item.Price - (item.Price * (item.Discount / 100)))) :-</h5>
                                    }
                                    else
                                    {
                                        <h5>@item.Price :-</h5>
                                    }
                                    <p class="card-text">@item.Description</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            @if (Model.ShowSelectedProducts)
            {
                <h3>Utvalda produkter</h3>
                <div class="row">
                    @foreach (var item in Model.HighlightedProducts)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="/ProductView?Id=@item.Id"><img class="card-img-top" src="~/img/@item.Image" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/ProductView?Id=@item.Id">@item.Name</a>
                                    </h4>
                                    @if (item.Discount != default)
                                    {
                                        <h5><strike>@item.Price :-</strike></h5><h5 class="text-danger"> Rea @Math.Round((item.Price - (item.Price * (item.Discount / 100)))) :-</h5>
                                    }
                                    else
                                    {
                                        <h5>@item.Price :-</h5>
                                    }
                                    <p class="card-text">@item.Description</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            @if (Model.ShowLatestProducts)
            {
                <h3>Senast tillagda produkter i sortimentet</h3>
                <div class="row">
                    @foreach (var item in Model.LastestArrivals)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="/ProductView?Id=@item.Id"><img class="card-img-top" src="~/img/@item.Image" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/ProductView?Id=@item.Id">@item.Name</a>
                                    </h4>
                                    @if (item.Discount != default)
                                    {
                                        <h5><strike>@item.Price :- </strike></h5><h5 class="text-danger"> Rea @Math.Round((item.Price - (item.Price * (item.Discount / 100)))) :-</h5>
                                    }
                                    else
                                    {
                                        <h5>@item.Price :-</h5>
                                    }
                                    <p class="card-text">@item.Description</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
