@page
@model GG_Webbshop.Pages.OrderViewModel;
@{
}



@if (!string.IsNullOrEmpty(Model.Message))
{
    bool returnTokenValue = TokenChecker.UserStatus;


<h2>@Model.Message</h2>
<a class="btn btn-dark" href="#" onclick="history.go(-1)">Tillbaka</a>
  @if (returnTokenValue == false)
   { 
      <a class="btn btn-primary" href="/LoginView">Logga in</a>
      <a class="btn btn-success" href="/RegisterPage">Registrera ett konto</a>
   }
}
else
{
<h1>Orderbekräftelse</h1>
<h4>Tack för din beställning</h4>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-start row">
        <div class="col-md-10">
            <h5>Order-ID: @Model.order.Id</h5>
            <h5>Angiven E-post: @Model.order.OrderEmail</h5>
            <h5>Betalmetod: @Model.order.PaymentMethod</h5>
            <h5>Orderstatus: @Model.order.OrderStatus</h5>
            <h5>Orderdatum: @Model.order.OrderDate</h5>
            <h5>Leveransadress: @Model.order.ShippingAddress</h5>
            <h5>Frakt: @Math.Round(Model.order.ShippingFee) SEK</h5>
            <h5>Totalsumma: @Math.Round(Model.order.Amount) SEK</h5>
          
            @foreach (var item in Model.order.OrderDetails)
            {
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="~/img/@item.ProductImgUrl"></div>
                    <div class="col-md-6 mt-1">
                        <h5>Produktnamn: @item.ProductName</h5>
                        <h5>Antal: @item.Quantity</h5>
                        <div class="d-flex flex-row">
                        </div>
                        <div>
                            <h5>Pris: @item.Price</h5>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <a class="btn btn-outline-success" href="./UserPage">Till mina sidor</a>
            <a class="btn btn-outline-primary" href="./Index">Till startsidan</a>
        </div>
    </div>
</div>
}
