@page
@model GG_Webbshop.Pages.Shared.PassWordChangeViewModel
@{
}
<h1><i>Uppdatera lösenord</i></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">@Model.ErrorMessage</p>
        }
        else
        {
            <form method="post">
                <div class="form-group">
                    <label class="control-label">Ändra lösenord</label>
                    <input asp-for="@Model.Password1" type="password" class="form-control" pattern=".{8,}" required title="Minst 8 tecken" />
                    <span asp-validation-for="@Model.Password1" class="text-danger"></span>
                    @if (!string.IsNullOrEmpty(Model.PasswordMessage))
                    {
                        <p class="text-danger">@Model.PasswordMessage</p>
                    }
                </div>
                <div class="form-group">
                    <label class="control-label">Nytt lösenord igen</label>
                    <input asp-for="@Model.Password2" type="password" class="form-control" pattern=".{8,}" required title="Minst 8 tecken" />
                    <span asp-validation-for="@Model.Password2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Skriv ditt befintliga lösenord</label>
                    <input asp-for="@Model.PasswordCurrent" type="password" class="form-control" pattern=".{8,}" required title="Minst 8 tecken" />
                    <span asp-validation-for="@Model.PasswordCurrent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input style="width : 200px" type="submit" value="Spara" class="btn btn-primary" />
                </div>
            </form>
        }
        <div>
            <a style="width : 200px" class="btn btn-primary" asp-page="/UpdateUserView">Tillbaka</a>
        </div>
    </div>
    </div>
