@page
@model GG_Webbshop.Pages.SearchResultModel
@{

}

<h1>Antal sökträffar: @Model.ProductResultCount.ToString()</h1>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <h1>@Model.Message</h1>
}
<h4>Produkter</h4>
@foreach (var item in Model.Product)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Image)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Image)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Stock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Size)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Size)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Brand)
            </dd>
        </dl>
    </div>
}


