@page
@model GG_Webbshop.Pages.UserPageModel
@{

}
<h1><i>Min sida</i></h1>

<h4><i>Min information</i></h4>
<hr />
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.user.Fullname
                    </h5>
                    <h4>Om</h4>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Fullständigt namn</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.user.Fullname</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Användarnamn</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.user.Username</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.user.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Telefonnummer</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.user.Phone</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Land</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.user.Country</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Adress</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.user.Billingaddress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a class="btn btn-outline-success" asp-page="Index">Tillbaka till startsidan</a>

    <a class="btn btn-outline-primary" asp-page="UpdateUserView">Ändra profil</a>

    <a class="btn btn-outline-danger" asp-page="DeleteUserView">Ta bort ditt konto</a>
    <a class="btn btn-outline-warning" asp-page="Privacy">Integritetspolicy</a>
</div>
<hr />
<h4>Orderhistorik</h4>
@foreach (var item in Model.Orders)
{
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-start row">
            <div class="col-md-10">
                <h5>Order-ID: @item.Id</h5>
                <h5>Angiven E-post: @item.OrderEmail</h5>
                <h5>Betalmetod: @item.PaymentMethod</h5>
                <h5>Orderstatus: @item.OrderStatus</h5>
                <h5>Orderdatum: @item.OrderDate</h5>
                <h5>Leveransadress: @item.ShippingAddress</h5>
                <h5>Frakt: @Math.Round(item.ShippingFee) SEK</h5>
                <h5>Summa: @Math.Round(item.Amount) SEK</h5>
                @foreach (var item2 in item.OrderDetails)
                {
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="~/img/@item2.ProductImgUrl"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Produktnamn: @item2.ProductName</h5>
                            <h5>Antal: @item2.Quantity</h5>
                            <div class="d-flex flex-row">
                            </div>
                            <div>
                                <h5>Pris: @item2.Price SEK</h5>
                            </div>
                        </div>
                    </div>
                    <hr />
                }

            </div>
        </div>
    </div>
}


