@page
@model GG_Webbshop.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>

<h3>Är du säker på att du vill radera produkten?</h3>
<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand)
        </dd>
    </dl>
    
    <form method="post" >
        <input type="hidden" asp-for="Product.Image"/>
        <input type="hidden" asp-for="Product.Id" />
        <input style="width : 200px" type="submit" value="Radera" class="btn btn-danger" />   |
        <a class="btn btn-success" asp-page="./Index">Tillbaka till startsidan för administratörer</a>
    </form>
</div>
